body {
  text-align: center;
}

header {
  display: inline-block;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #EAEEF3;
}

h1 {
  margin-top: 7px !important;
  padding-left: 5px;
  float: left;
  font-size: 1.5em;
}

img {
  padding-top: 5px;
  border-radius: 50%;
  height: 100px
}

ul {
  margin-top: 1px;
  margin-bottom: 1px;
}

hr {
  width: 80%;
}

a {
  text-decoration: none;
}


@media only screen and (min-width: 630px) {
  h1 {
    font-size: 1.2em;
  }

  header {
    margin-right: 10%;
    margin-left: 10%;
  }
}
