body {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  display: inline-block;
}

.header {
  border-bottom: 3px solid #eeeeee;
  margin-right: 20%;
  margin-left: 20%;
  max-height: 100%;
}

img {
  border-radius: 50%;
  max-height: 100px;
}

ul {
  margin-top: 1px;
  margin-bottom: 1px;
}

.main-nav {
  font-size: 1.5em;
  border-bottom: 3px solid #eeeeee;
  padding: 5px;
  margin: 0px;
  margin-right: 20%;
  margin-left: 20%;
}

.main-nav li {
  display: inline-block;
  padding-right: 1.6em;
}

a {
  text-decoration: none;
}

.main-content {
  border: 1px solid #eeeeee;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10px;
}

@media only screen and (min-width: 600px) {
    img  {
      display: block;
      float: left;
      margin-left: 5em;
      max-width: 15%;
      max-height: 100px;
    }
}
